<div class="form-group row">
  <div class="col-sm-8">
    <textarea
      type="text"
      name="Title"
      class="form-control"
      value="<%= model.Title %>"
      cols="5"
      rows="5"
    ></textarea>
  </div>
</div>
